.header {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.header img {
  height: 30px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

 .right .right-logo{
  height: 32px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: white;
  padding: 5px;
  cursor: pointer;
}