.hero .span {
  display: inline-block;
  color: rgb(241 107 16);
}

.hero {
  padding: 10px;
  padding-left: 18px;
  line-height: 74px;
  font-size: 20px;
  margin-top: 15px;
}

.button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  border-radius: 47px;
  gap: 16px;
  margin: 10px;
}

.dot {
  background-color: #0bf10b;
  opacity: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 8px  #0aff83;
}

span {
  color: rgba(128, 128, 128, 0.5);
}

.text-btn {
  display: flex;
  gap: 20px;
}
